/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.overall{
    display: grid;
    /* position: relative; 
    grid-template-rows: 15vh 55vh;
    grid-template-columns: 70vh 70vh;
   
}
.left{
    background-color: aqua;
    grid-row: 1/-1;
    grid-column: 1/2;
}

.box{
    width: 70vh;
    grid-row: 1/2;
    grid-column: 2/-1;
    background: rgb(226, 242, 232);;
    
}
.content{
    padding-left: 5vh;
}
.content button{
    background-color: rgb(130, 154, 130);
    border: none;
    width: 10vh;
    height: 4vh;
}

.infos{
    grid-row: 2/-1;
    grid-column: 2/-1;
    background-color: rgb(226, 242, 232);
    position: relative;
    overflow: hidden;
    
}

.ascustomer{
    position: absolute;
    height: 55vh;
    width: 70vh;
    left: 0;
    transition: 0.9s;
}

.astrader{
    position: absolute;
    /* right: -51vh;
    background-color: rgb(226, 242, 232);;
    height: 55vh;
    width: 70vh;
    left: 71vh;
    transition: 0.9s;
}

customer-inputs

.customer-names{
    display: flex;
    justify-content: space-between;
    padding: 0 2vh;
}
.customer-names input{
    height: 5vh;
    border-radius: 5px;
    border: 2px solid rgb(140, 193, 61);
}
.email{
    width: 100%;
    margin-top: 2vh;
    padding: 0 2vh;
    
}
.email input{
    width: 50vh;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid rgb(140, 193, 61);
}
.customer_username_phonenumber{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    padding: 0 2vh;
}
.customer_username_phonenumber input{
    height: 5vh;
    border-radius: 5px;
    border: 2px solid rgb(140, 193, 61);
}
.custpassword{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    padding: 0 2vh;
}
.custpassword input{
    height: 5vh;
    border-radius: 5px;
    border: 2px solid rgb(140, 193, 61);
}


  .dob{
    margin-top: 2vh;
    width: 30vh;
    margin-top: 2vh;
    padding: 0 2vh;
  }
  .dob .form-control{
    height: 5vh;
    border-radius: 5px;
    border: 2px solid rgb(140, 193, 61);
  }

  .gender{
      margin-top: 2vh;
      padding: 0 2vh;
  }

  .create{
      width: 40vh;
      height: 5vh;
      background-color: rgb(44, 184, 44);
      color: white;
      border: none;
      margin-top: 2vh;
      margin-left: 2vh;
  }
 .already-customer{
    margin-top: 2vh;
    padding: 0 2vh;
 }



 .trader-names{
    display: flex;
    justify-content: space-between;
    padding: 0 2vh;
}
.trader-names input{
    height: 5vh;
    border-radius: 5px;
    border: 2px solid rgb(140, 193, 61);
}

.trader_username_phonenumber{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    padding: 0 2vh;
}
.trader_username_phonenumber input{
    height: 5vh;
    border-radius: 5px;
    border: 2px solid rgb(140, 193, 61);
}


.traderpassword{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    padding: 0 2vh;
}
.traderpassword input{
    height: 5vh;
    border-radius: 5px;
    border: 2px solid rgb(140, 193, 61);
}
.shopename_catg{
    display: flex;
    justify-content: space-between;
    padding: 0 2vh;
}
.shopename_catg input{
    margin-top: 2vh;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid rgb(140, 193, 61);

}

.shopename_catg select{
    background-color: white;
    margin-top: 2vh;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid rgb(140, 193, 61);

}
.location{
    margin-top: 2vh;
    padding: 0 2vh;
}
.location input{
    height: 5vh;
    border-radius: 5px;
    border: 2px solid rgb(140, 193, 61);
}
.already-trader{
    margin-top: 2vh;
    padding: 0 2vh;
}

.flex1{
    display: flex;
    justify-content: space-between;
}
.flex1 .service{
    border: 2px solid rgb(230, 230, 230);
    border-radius: 3vh;
    margin:0 10vh;
    width: 50vh;
    padding: 0 5vh;
    height: 40vh;
    
}
.service h4{
    margin-top: 2vh;
}

.flex1 .service:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.fa-hands-helping{
    font-size: 10vh;
    padding: 0 30%;
    color: rgb(113, 172, 25);
    
}


/*